<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430068138545-mmdonb18fa8c7vh9lk15bcpocevt7nkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430068138545-mmdonb18fa8c7vh9lk15bcpocevt7nkb</string>
	<key>API_KEY</key>
	<string>AIzaSyBcD0j5KdIouhscUSlfVSrMzmPKxzFeSU4</string>
	<key>GCM_SENDER_ID</key>
	<string>430068138545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathanbatista.training.MyExpenses</string>
	<key>PROJECT_ID</key>
	<string>myexpenses-e3388</string>
	<key>STORAGE_BUCKET</key>
	<string>myexpenses-e3388.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:430068138545:ios:58ea580fc6811223428b10</string>
</dict>
</plist>
